mixin dropdown(name='Dropdownn', selected='Сколько гостей')
    .dropdown
        .dropdown-header 
            .dropdown-header__text=name
        .dropdown-drop(onclick="drop()" id="border")
            .dropdown-drop__main=main 
            .dropdown-drop__icon
                .dropdown-drop__selected=selected
                img(src="/src/images/expandmore.svg", alt="Drop")
    .list 
        +ddr 
    script 
        include ../../js/dropdownfunction.js
        include ../../js/open.js
    




mixin ddr(item1='спальни', item2='кровати', item3='ванные комнаты', i=0, a=0)
    .ddr(id='dropmenu')
        .ddr-item 
            .ddr-item__text=item1
            .ddr-item__score 
                +minus('-')
                .ddr-item__scoretxt(id="test")=i
                +plus('+')
        .ddr-item 
            .ddr-item__text=item2
            .ddr-item__score 
                +minus('-')(id="minus")
                .ddr-item__scoretxt=i
                +plus('+')
        .ddr-item 
            .ddr-item__text=item3
            .ddr-item__score 
                +minus('-')
                .ddr-item__scoretxt=i
                +plus('+')
        .ddr-config
            .ddr-config__clear(id="clear" onclick="clear()") Очистить
            .ddr-config__sub Применить

                
    
          




mixin plus(val='+')
    .circle(onclick="add(this)")
        .circle-text=val
        


mixin minus(val='-')
    .circlemin(onclick="dec(this)", id="minus")
        .circlemin-text=val




                    